.App{
    margin: 20px;
    width: 200px;
    height: 400px;
    text-align: center;
    background: gray;
    border-radius: 5px;
}

.output{
    margin-top: 30px;
}
.output input{
    margin: 5px;
    height: 40px;
    width: 150px;
    font-size: 30px;

}
.buttons{
    margin:25px;
}
.buttons button{
    margin: auto;
    font-size: 40px;
}
